*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  width: 1080px;
  margin: auto;
}
nav{
  height: 80px;
}
#nav_top:after{
  clear: both;
  content: "";
  display: table;
}
.nav_top{
  position: sticky;
  top : 0;
  width: 100%;
  border-bottom: 1px solid #cbd6e2;
  background-color: #f5f8fa;;
  z-index: 3;
  line-height: 80px;
}
.nav_left,.top_left,.top_right,.left,.column_left,.column_center,.column_right,.square,.half-left,.mini-square,.colu_four{
  float: left;
}
.nav_right,.right,.half-right{
  float: right;
}
.logo{
  width: 16px;
  height: 16px;
}
.top_left,.top_right{
  padding: 0 20px;
  height: 100%;
}
.bkgrnd_orange{
  background-color: #ff7a59;
  color: #fff;
  border: 1px solid black;
  width: 170px;
  height: 33px;
  margin: 23px 0;
}
.row:after{
  clear: both;
  content: "";
  display: table;
  width: 100%;
}
#nav_bottom{
  width: 100%;
  line-height: 80px;
}
.pippo{
  width: 100%;
  height: 700px;
  position: relative;
}
.hero_container{
  background-image: linear-gradient(to top right, #425b76, #0091b0, #00a4bd, #7fd1de);
  height: 700px;
}
.cube{
  padding-top: 100px;
  padding-bottom: 50px;
}
.txt_ce{
  text-align: center;
}
.hero_container_sx{
  width: 30%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.mt-30{
  margin-top: 30px;
}
.bkgrnd_col{
  background-color: #f5f8fa;
}
h2,h4{
  color: #33475b;
  margin-top: 10px;
  margin-bottom: 10px;
}
p{
  margin-top: 14px;
  margin-bottom: 14px;
}
.txt_ce>img{
  width: 260px;
  height: 195px;
}
.img_size{
  width: 205px;
  height: 150px;
}
.book,.column_left,.column_right,.column_center{
  background-color: #fff;
  margin-bottom: 20px;
}
.left,.half-left{
  width: 30%;
  text-align: center;
}
.right,.half-right{
  width: 65%;
  margin-left: 5%;
}
.book{
  padding: 30px;
  margin-bottom: 30px;
}
.column_left,.column_center,.column_right{
  width: 31%;
  height: 590px;
  padding: 32px;
}
.column_center{
  margin-left: 3.5%;
  margin-right: 3.5%;
}
.awards{
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
  background-size: cover;
  height: 700px;
  padding: 80px;
}
.square_all{
  margin-top: 80px;
}
.top_square{
  width: 100%;
}
.square{
  width: 25%;
  height: 185px;
  margin-bottom: 1px solid #fff;
}
#customers{
  padding: 100px 0 150px;
}
.mini-square{
  padding: 20px;
  width: 150px;
}
.size{
  width: 100px;
}
#grow_with_us{
  padding: 120px 0;
}
#grow_with_us>.half-right>{
  text-align: right;
}
#red_image>img{
  height: 565px;
  background-color: #f2547d;
  border-radius: 50%;
}
footer{
  background-color: #33475b;
  color: #fff;
  height: 650px;
  padding-top: 95px;
}
.colu_four{
  width: 25%;
}
li{
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}
#follow_us{
  width: 100%
}
.fab{
  width:18%;
}
#mini_container{
  width: 70%;
  padding: 40px 0;
  margin: auto;
  text-align: center;
  height: 120px;
  line-height: 40px;
  font-size: 19px;
}
#mini_container > span{
  width: 16%;
}
.footer_bottom{
  padding: 40px 0;
}
#need_help{
  width: 60px;
  height: 60px;
  background-color: rgb(66, 91, 118);
  border-radius: 50%;
  text-align: center;
  position: relative;
}
#need_help>img{
  color: #33475b;
  width: 32px;
  height: 32px;
  background-color: rgb(66, 91, 118);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
#widget{
  position: fixed;
  bottom: 10px;
  right: 10px;
}
